<div>

<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
<div class="navbar-wrapper">
  <div class="m-header">
    <a href="../dashboard/index.html" class="b-brand text-primary">
      <!-- ========   Change your logo from here   ============ -->
          <img src="assets/images/ttt.jpg " style="width: 220px; height: 70px; border-radius: 10px;"
       alt="" class="logo" />
    </a>
  </div>
  <div class="navbar-content">
   <ul class="pc-navbar">
  <li class="pc-item pc-caption">
    <label>Dashboard</label>
    <i class="ti ti-layout-dashboard"></i>
  </li>
  <li class="pc-item">
    <a href="/dashboard_admission" class="pc-link">
      <span class="pc-micon"><i class="ti ti-home"></i></span>
      <span class="pc-mtext">Access Dashboard Analysis</span>
    </a>
  </li>

  <li class="pc-item pc-caption">
    <label>Machine Learning Models</label>
    <i class="ti ti-brain"></i>
  </li>
  
  
					 <li class="pc-item" (click)="selectedMenu = 'admissionForecast'">
    <a class="pc-link">
      <span class="pc-micon">  <i class="ti ti-chart-line"></i></span>
      <span class="pc-mtext make-bold">Wait time to resolve prediction</span>
    </a>
  </li>
  
  <a class="pc-link">
    <span class="pc-micon"> <i class=" ti ti-building-skyscraper"></i></span>
    <span class="pc-mtext make-bold"> Solution Recommender</span>
  </a>

</ul>

    <div class="w-100 text-center">
      <div class="badge theme-version badge rounded-pill bg-light text-dark f-12"></div>
    </div>
  </div>
</div>
</nav>
<!-- [ Sidebar Menu ] end -->
<!-- [ Header Topbar ] start -->
<header class="pc-header">
<div class="header-wrapper"><!-- [Mobile Media Block] start -->
<div class="me-auto pc-mob-drp">
<ul class="list-unstyled">
  <li class="pc-h-item header-mobile-collapse">
    <a href="#" class="pc-head-link head-link-secondary ms-0" id="sidebar-hide">
      <i class="ti ti-menu-2"></i>
    </a>
  </li>
  <li class="pc-h-item pc-sidebar-popup">
    <a href="#" class="pc-head-link head-link-secondary ms-0" id="mobile-collapse">
      <i class="ti ti-menu-2"></i>
    </a>
  </li>
  <li class="dropdown pc-h-item d-inline-flex d-md-none">
    <a
      class="pc-head-link head-link-secondary dropdown-toggle arrow-none m-0"
      data-bs-toggle="dropdown"
      href="#"
      role="button"
      aria-haspopup="false"
      aria-expanded="false"
    >
      <i class="ti ti-search"></i>
    </a>
    <div class="dropdown-menu pc-h-dropdown drp-search">
      <form class="px-3">
        <div class="mb-0 d-flex align-items-center">
          <i data-feather="search"></i>
          <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . ." />
        </div>
      </form>
    </div>
  </li>
  <li class="pc-h-item d-none d-md-inline-flex">
    <form class="header-search">
      <i data-feather="search" class="icon-search"></i>
      <input type="search" class="form-control" placeholder="Search here. . ." />
      <button class="btn btn-light-secondary btn-search"><i class="ti ti-adjustments-horizontal"></i></button>
    </form>
  </li>
</ul>
</div>
<!-- [Mobile Media Block end] -->
<div class="ms-auto">
<ul class="list-unstyled">
  <li class="dropdown pc-h-item">
    <a
      class="pc-head-link head-link-secondary dropdown-toggle arrow-none me-0"
      data-bs-toggle="dropdown"
      href="#"
      role="button"
      aria-haspopup="false"
      aria-expanded="false"
    >
      <i class="ti ti-bell"></i>
    </a>
    <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
      <div class="dropdown-header">
        <a href="#!" class="link-primary float-end text-decoration-underline">Mark as all read</a>
        <h5>
          All Notification
         
        </h5>
      </div>
    
      <div class="dropdown-divider"></div>
      <div class="text-center py-2">
        <a href="#!" class="link-primary">Mark as all read</a>
      </div>
    </div>
  </li>
  <li class="dropdown pc-h-item header-user-profile">
    <a
      class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0"
      data-bs-toggle="dropdown"
      href="#"
      role="button"
      aria-haspopup="false"
      aria-expanded="false"
    >
      <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar" />
      <span>
        <i class="ti ti-settings"></i>
      </span>
    </a>
    <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
      <div class="dropdown-header">
      
        <p class="text-muted">Admin</p>
       
        <div class="profile-notification-scroll position-relative" >
        
          <hr />
          <a href="../application/account-profile-v1.html" class="dropdown-item">
            <i class="ti ti-settings"></i>
            <span>Account Settings</span>
          </a>
          <a href="../application/social-profile.html" class="dropdown-item">
            <i class="ti ti-user"></i>
            <span>Profile</span>
          </a>
          <a routerLink="/home_page" class="dropdown-item">
            <i class="ti ti-logout"></i>
            <span>Logout</span>
          </a>
        </div>
      </div>
    </div>
  </li>
</ul>
</div>
</div>
</header>
<!-- [ Header ] end -->


<!-- [ Main Content ] start -->
<div class="pc-container">
  <div class="pc-content">
    <div class="row">
<!-- Add a router-outlet or ngIf view swap -->
<div *ngIf="selectedMenu === 'recommendation'">

</div>

<!-- Component switcher -->
<div *ngIf="selectedMenu === 'timePrediction'">

</div>
 
<div *ngIf="selectedMenu === 'dashboard'">
      <div class="col-12"> 
        <iframe 
          title="A&E (1)" 
          style="width: 100%; height: 80vh; border: 0;"
          [src]="powerBiUrl" 
          allowFullScreen="true">
        </iframe>
      </div>
      </div>
    </div>
  </div>
  
</div>


<!-- [ Main Content ] end -->
<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 text-center my-1">
        <p class="m-0">
           &#64; Copyright 2025. Created by <strong> Ayoub Toujani </strong>. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>

</div>


